@model SBS.Core.Models.DeliveryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeliveryViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContragentId" class="control-label">Supplier</label>
                <select asp-for="ContragentId" class="form-control" asp-items="@ViewBag.ContragentsList">
                </select>
                <span asp-validation-for="ContragentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDatetime" class="control-label"></label>
                <input asp-for="CreateDatetime" class="form-control" />
                <span asp-validation-for="CreateDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label">Store</label>
                <select asp-for="StoreId" class="form-control" asp-items="@ViewBag.StoresList">
                </select>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
