@model IEnumerable<SBS.Areas.Administration.Models.RoleViewModel>

@{
    ViewData["Title"] = "Roles";
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h1 class="col-4">Roles</h1>
    </div>
    <div class="justify-content-end  col-2">
        <p>
            <a asp-action="Create" class="btn btn-primary mt-2">Create New</a>
        </p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Role" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
